@import "tailwindcss";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: cupcake --default, forest --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --breakpoint-mb: 320px;
  --breakpoint-tb: 425px;
  --breakpoint-lg-tb: 530px;
  --breakpoint-lp: 768px;
  --breakpoint-lg-lp: 1024px;
  --color-dark-line: oklab(0.83768 0.000951535 0.000307539 / 0.1);
  --color-light-line: oklab(0.23574 0.0451709 -0.0481206 / 0.1)
}

html {
  scrollbar-width: thin;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

